<article>
	<mat-card>
		<mat-card-header>
			<h2>Current</h2>
		</mat-card-header>
		<mat-card-content>
			<app-io-row class="crit-row">
				<app-input name="CRIT Rate" [value]="critInfo.rate" (valueChange)="critInfo.rate = $event" />
				<app-input name="CRIT DMG" [value]="critInfo.dmg" [min]="0" (valueChange)="critInfo.dmg = $event" />
			</app-io-row>
			<app-calculation-row
				[value]="critInfo.value"
				[ratio]="critInfo.ratio"
				[multiplier]="critInfo.multiplier"
				[efficiency]="critInfo.efficiency" />
		</mat-card-content>
	</mat-card>
	<mat-card>
		<mat-card-header>
			<h2>Optimal</h2>
		</mat-card-header>
		<mat-card-content>
			<app-io-row class="crit-row">
				<app-output name="CRIT Rate">{{critInfo.bestRate | percentage}}</app-output>
				<app-output name="CRIT DMG">{{critInfo.bestDmg | percentage}}</app-output>
			</app-io-row>
			<app-calculation-row
				[value]="critInfo.value"
				[ratio]="critInfo.bestRatio"
				[multiplier]="critInfo.bestMultiplier"
				[efficiency]="1" />
		</mat-card-content>
	</mat-card>
	<mat-card>
		<mat-card-header>
			CRIT Multipliers when CRIT Value is {{critInfo.value * 100 | number:'1.0-2'}}%
		</mat-card-header>
		<mat-card-content>
			<app-efficiency-graph class="graph" [critInfo]="critInfo" />
		</mat-card-content>
	</mat-card>
</article>
