@use '../../styles/variables' as *;

article {
	display: flex;
	gap: $hoz-gap;
	text-align: center;
	flex-direction: column;
}

.row {
	text-align: left;
	display: flex;
	gap: 1em;
	justify-content: space-evenly;
	min-width: min-content;
}

.crit-row {
	font-size: 115%;
}

mat-card-header {
	justify-content: center;

	h2 {
		margin: 0;
	}
}

.graph {
	display: block;
	width: 22em;
	margin: 1em auto 0;
}
