@use '../styles/variables' as *;

header {
	text-align: center;
}

main {
	display: flex;
	flex-direction: column;
	max-width: max-content;
	min-width: min(350px, 100%);
	margin: auto;
	gap: $hoz-gap;
}
