::ng-deep {
	mat-expansion-panel-header {
		.mat-content {
			align-items: center;
			justify-content: center;
		}
	}

	math {
		* {
			text-align: left;
		}
	}

	h3 {
		margin: 1.5em 0 0.75em;

		&:first-child {
			margin-top: 0;
		}
	}
}
