<app-io-row>
	<app-output name="CRIT Value" tooltip="Value of the CRIT rate and DMG in terms of artifact rolls. Calculated as 2 &times; CRIT Rate + CRIT DMG.">
		{{value | percentage}}
	</app-output>
	<app-output name="Ratio" tooltip="Ratio of CRIT rate to DMG.">
		{{ratio | ratio}}
	</app-output>
	<app-output name="Multiplier" tooltip="Effective multiplier the CRIT rate and DMG apply to your damage.">
		{{multiplier | percentage}}
	</app-output>
	<app-output name="Efficiency" tooltip="Efficiency of the current effective multiplier.">
		{{efficiency | percentage}}
	</app-output>
</app-io-row>
