<svg [attr.viewBox]="viewBox" fill="white">
	<path
		*ngFor="let path of paths"
		fill="none"
		[attr.d]="path.cmd"
		[attr.stroke]="path.color"
		[attr.stroke-width]="path.size + 'px'"
		[class.crisp]="path.crisp"
	/>
	<path
		*ngFor="let point of points"
		class="point"
		[attr.d]="'M' + point.x + ' ' + (point.y  - 0.001) + 'a 0.001 0.001 0 1 0 0.001 0'"
		[attr.stroke]="point.color"
	/>
	<text
		*ngFor="let text of texts"
		class="text"
		[class.sideways]="text.sideways"
		[attr.x]="text.sideways ? -text.x : text.x"
		[attr.y]="text.sideways ? -text.y : text.y"
		[attr.text-anchor]="text.anchor"
		[attr.font-size]="(fontSize * (text.fontScale ?? 1)) + 'px'"
		[attr.dominant-baseline]="text.baseline"
		[attr.fill]="text.color"
	>
		{{text.str}}
	</text>
</svg>
