<svg [attr.viewBox]="viewBox" fill="white">
	<path [attr.d]="axisPath" stroke="white" stroke-width="3px" fill="none" />
	<path [attr.d]="secondaryPath" stroke="#fff" stroke-width="1px" fill="none" />
	<path [attr.d]="minorPath" stroke="#ffffff22" stroke-width="1px" fill="none" />
	<path [attr.d]="chartPath" stroke="#5e9aff" stroke-width="3px" fill="none" />
	<path
		*ngFor="let point of points"
		class="point"
		[attr.d]="'M' + point.x + ' ' + (point.y  - 0.001) + 'a 0.001 0.001 0 1 0 0.001 0'"
		[attr.stroke]="point.color"
	/>
	<text
		*ngFor="let text of texts"
		class="text"
		[class.sideways]="text.sideways"
		[attr.x]="text.sideways ? -text.x : text.x"
		[attr.y]="text.sideways ? -text.y : text.y"
		[attr.text-anchor]="text.anchor"
		[attr.font-size]="(fontSize * (text.fontScale ?? 1)) + 'px'"
		[attr.dominant-baseline]="text.baseline"
		[attr.fill]="text.color"
	>
		{{text.str}}
	</text>
</svg>
